/build*
*~

# build output (CMake puts executables and game libraries in bin/)
/bin/*.exe
/bin/*.dll
/bin/*.pdb
/bin/*.ilk
/bin/*.so
/bin/*.dylib
/bin/*.app/
/bin/dhewm3
/bin/dhewm3ded
/bin/base/
/bin/dist
.*.swp
*.pyc
.cproject
.project
.settings/

/dhewm*
/*-releases/
/neo/.vs*
/neo/out*
/neo/build*
/.vs*

/neo/CMakeSettings.json
